@import url('reset.css');

html, body {
    background-image: url("https://i.ibb.co/jfcSqPm/Presentation-Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.Center_Element {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

ul#menu_options li{
    display: inline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}